@media screen and (max-width: 460px) {
    .nav {
        width: 100vw;
        height: 80px;
        display: flex;
        background-color: #4274DF;
        color: white;
        font-size: 20px;

        & img {
            height: 80px;
            width: 130px;
        }

        & ul {
            display: flex;
            width: calc(100vw - 130px);
            list-style-type: none;
            padding: 0;

            & li:first-child {
                display: none;
            }
        }

        & li {
            flex-grow: 1;
            padding: 3.7vh 0;

            &:hover {
                background-color: #2053c1;
                border-radius: 30px;
                transition: 1s;

                &:first-child {
                    background-color: #4274DF;
                }
            }

            & Link {
                color: white;
            }
        }
    }
}

@media screen and (min-width: 461px) {
    .nav {
        width: 100vw;
        height: 80px;
        display: flex;
        background-color: #4274DF;
        color: white;
        font-size: 20px;

        & img {
            height: 80px;
            width: 130px;
        }

        & ul {
            display: flex;
            width: calc(100vw - 150px);
            list-style-type: none;
            gap: 50px;
            padding: 0 0 0 40px;

            & li:first-child {
                display: none;
            }
        }

        & li {
            flex-grow: 1;
            padding: 3.7vh 0;

            &:hover {
                background-color: #2053c1;
                border-radius: 30px;
                transition: 1s;

                &:first-child {
                    background-color: #4274DF;
                }
            }

            & Link {
                color: white;
            }
        }
    }
}

@media screen and (min-width: 521px) {
    .nav {
        width: 100vw;
        height: 80px;
        display: flex;
        background-color: #4274DF;
        color: white;
        font-size: 20px;

        & img {
            height: 80px;
            width: 130px;
        }

        & ul {
            display: flex;
            width: calc(100vw - 150px);
            list-style-type: none;
            gap: 50px;
            & li:first-child {
                display: inline;
            }
        }

        & li {
            flex-grow: 1;
            padding: 3.7vh 0;

            &:hover {
                background-color: #2053c1;
                border-radius: 30px;
                transition: 1s;

                &:first-child {
                    background-color: #4274DF;
                }
            }

            & Link {
                color: white;
            }
        }
    }
}