.search {
  width: calc(100vw - 20px);
  height: 10vh;
  background-color: #1e3a8a;
  display: flex;
  justify-content: center;
  align-items: center;

  & ul {
    flex-grow: 1;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;

    & li {
      width: 33.3%;
    }
  }

  & form {
    flex-grow: 1;
    display: flex;
    align-items: center;

    & input {
      height: 38px;
      flex-grow: 1;
      margin: 0 2vw 0 0;
    }

    & button {
      height: 50px;
      width: 50px;
      overflow-y: hidden;
      padding: 0;

      & img {
        margin: -2px;
      }
    }
  }

  & span {
    flex-grow: 1;
  }
}

.category {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 4px 10px 0;
  overflow: visible;
  padding: 10px 30px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:focus {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }

  &:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
}

@media screen and (max-width: 460px) {
  .search {
    width: 100vw;

    & form {
      flex-grow: 1;
      display: flex;
      align-items: center;

      & input {
        flex-grow: 1;
        height: 38px;
        width: 120px;
        margin: 0 0.5vw 0 0;
      }

      & button {
        height: 38px;
        width: 38px;
        overflow-y: hidden;
        padding: 0;

        & img {
          margin: -2px;
          height: 38px;
        }
      }

      & span {
        flex-grow: 0;
      }
    }
  }

  .category {
    width: 72px;
    margin: 0 6px 8px 2px;
    padding: 12px 8px;
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  }
}

@media screen and (min-width: 461px) {
  .category {
    width: 13vw;
    margin: 0 6px 8px 2px;
    padding: 12px 8px;
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  }
}

@media (min-width: 768px) {}